<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Searchservlet</servlet-name>
        <servlet-class>controller.Searchservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registerservlet</servlet-name>
        <servlet-class>controller.Registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchcheckservlet</servlet-name>
        <servlet-class>controller.Searchcheckservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonorLoginServlet</servlet-name>
        <servlet-class>controller.DonorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updateservlet</servlet-name>
        <servlet-class>controller.Updateservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Searchservlet</servlet-name>
        <url-pattern>/Searchservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registerservlet</servlet-name>
        <url-pattern>/Registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchcheckservlet</servlet-name>
        <url-pattern>/Searchcheckservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonorLoginServlet</servlet-name>
        <url-pattern>/DonorLoginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updateservlet</servlet-name>
        <url-pattern>/Updateservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
